@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
}
body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
form {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 10px;
    border-radius:6px;
    box-shadow: 0 0 10px rgba(0,0,0,0,2);
}
h4{
    text-align: center;
}