body{

        background: url(../img/844519-vertical-1920x1080-hd-backgrounds-1920x1080-photo.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
   
}